<%-include ('../cabecalho.ejs') %>
        <h1>Cursos</h1>
       
        <table>
            <tr>
                <td>Nome</td>
                <td>Area</td>
                <td>Ano Fundação</td>
                <td>Nível</td>
            </tr>
            <!--aqui vamos fazer o for-->
            <%for (const {nome, area, anofundacao, nivel} of Cursos) {%>
            <tr>
                <td><%=nome%></td>
                <td><%=area%></td>
                <td><%=anofundacao%></td>
                 <td><%=nivel%></td>
                <td></td>
            </tr>
            <%}%>
        </table>
    <%-include ('../rodape.ejs') %>